@use "../variables" as v;
@use "../breakpoints" as b;
@use "../mixins" as m;

.footer {
	padding: 2rem 2rem;

	&__center {
		@include m.container;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		@include b.breakpoint(lg) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__links {
		font-size: 2rem;

		ul {
			display: flex;
			justify-content: center;
			gap: 1rem;
		}

		a {
			color: v.$color-font-light;
			transition: v.$transition;

			&:hover,
			&:active,
			&:focus {
				color: v.$color-primary;
			}
		}

		p {
			font-size: 0.8rem;
		}
	}
}
