@use "../variables" as v;
@use "../breakpoints" as b;
@use "../mixins" as m;

.header {
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	position: sticky;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.7s ease-in-out;

	&.scrolled {
		background: rgba(0, 0, 0, 0.9);
	}

	&__center {
		@include m.container;
		padding: 1.2rem 2rem;
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		border-radius: 50%;
		width: 60px;
		@include b.breakpoint(md) {
			width: 80px;
		}
	}

	&__list {
		display: none;
		@include b.breakpoint(md) {
			display: flex;
			align-items: center;
			gap: 3rem;
			font-size: 1.2rem;
		}
		a {
			transition: v.$transition;
			position: relative;
			&:hover::after,
			&:active::after,
			&:focus::after {
				width: 100%;
			}
		}
		a::after {
			content: "";
			width: 0;
			height: 0.2rem;
			background-color: v.$color-primary;
			position: absolute;
			left: 0;
			bottom: -0.3rem;
			transition: 0.3s all ease-in-out;
		}
	}

	&__hamburger {
		font-size: 2rem;
		transition: v.$transition;
		&:hover,
		&:focus,
		&:active {
			color: v.$color-primary;
		}
		@include b.breakpoint(md) {
			display: none;
		}
	}
}
