@use "../breakpoints" as b;
@use "../variables" as v;

.alice-carousel li {
	padding-right: 3rem;
	transition: v.$transition;
	@include b.breakpoint(md) {
		padding-right: 6rem;
	}
	@include b.breakpoint(lg) {
		padding-right: 6rem;
	}
	@include b.breakpoint(xl) {
		padding-right: 8rem;
	}

	&:hover {
		opacity: 0.5;
	}
}
