@use "./variables" as v;
@use "./mixins" as m;
@use "./breakpoints" as b;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100vh;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	background-color: v.$color-bg;
	color: v.$color-font;
	font-family: v.$font;
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

h1,
h2,
h3 {
	line-height: 1.3;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

button {
	background-color: inherit;
	color: v.$color-font-light;
	border: none;
	cursor: pointer;
}

main {
	padding: 0 2rem;
}

section {
	@include m.container;
	padding: 3rem 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	@include b.breakpoint(md) {
		padding: 7rem 0;
	}
}